.counter-container {
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background: var(--green);
  color: var(--white);
  border-radius: 0.8rem;

  span {
    font-size: 1.5rem;
    font-weight: 600;
    width: 50%;
    text-align: center;
  }
}
