.hero-container {
  width: 100%;
  height: 17rem;
  background: url("https://chedrauimx.vteximg.com.br/arquivos/BH_1900X386.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    max-width: 45%;
  }
}
