:root {
  --white: #ffffff;
  --gray: #333d49;
  --light-gray: #d9d9d9;
  --black: #17212e;
  --blue: #0d47a1;
  --orange: #f76900;
  --yellow: #fed02f;
  --green: #80bc00;
  --bg: #f6f6f6;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: var(--bg);
  max-width: 67%;
}

figure,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:visited {
    color: var(--black);
  }
}

button {
  padding: 0.75rem 1.25rem;
  color: var(--white);
  background-color: var(--orange);
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;

  &:hover {
    background-color: var(--blue);
  }
}

@media (max-width: 660px) {
  body {
    max-width: 100%;
    margin: 0 1rem;
  }
}
