main {
  padding-block-end: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.highlight-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  .info-card {
    grid-column: 1 / 3;

    &-reverse {
      grid-column: 3 / 5;
    }
  }
}

h2 {
  margin-block-end: 0;
  text-align: center;
  color: var(--blue);
}
