article {
  max-width: 100%;
  padding-block: 3.5rem;
  padding-inline: 1rem;
  color: var(--white);
  border-radius: 0.8rem;
  background: rgb(232, 126, 39);
  background: radial-gradient(
    circle,
    rgba(232, 126, 39, 1) 0%,
    rgba(212, 99, 39, 1) 100%
  );

  h3 {
    font-size: 2rem;
    margin-block-start: 0;
    margin-block-end: 1rem;
  }

  p {
    font-size: 1rem;
  }
}
